doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='/style.css')
  body
    h1 Hello, World
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
